/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* =======Ag Gride Css Dependency====. */
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
@import '../node_modules/ag-grid-community/dist/styles/ag-theme-material.css';

/* You can add global styles to this file, and also import other style files */
.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)  ;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

.page-loader {
  // position: absolute;
  // z-index: 9999999;
  // background: #fff!important;
  // width: 100%;
  // height: 100%;
  // text-align: center;
  display: none;

  position: absolute;
  z-index: 50000000;
  /* background: #fff !important; */
  width: 100%;
  /* height: 100%; */
  text-align: center;



}

.page-loader img {
  width: 100px;
  margin-top: 300px;

}

.loader-show {
  display: block;



  // position: absolute;
  // z-index: 5000;
  // /* background: #fff !important; */
  // width: 100%;
  // height: 100%;
  // text-align: center;
  // display: none;
}

// MODAL SWITCH START
.form-switch-lg {
  padding-left: 3.5rem !important;
  min-height: 28px;
  line-height: 28px;
}

.form-check-input:checked {
  background-color: #34c38f !important;
  border-color: #34c38f !important;
}

// MODAL SWITCH END

// SWEET ALERT START
.swal2-styled.swal2-confirm {
  border-radius: 0.25em;
  background-color: #34c38f !important;
  color: #fff;
  font-size: 1em;
  outline: none !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

// SWEET ALERT END
.mapping-accordion {
  .card {
    margin-bottom: 5px !important;
  }

  .collapsed .fa.fa-angle-down {
    transform: rotate(180deg);
    margin-bottom: 6px;
  }

  .fa.fa-angle-down {
    margin-bottom: 0px;
    margin-top: 4px;
  }

  .btn.btn-link {
    text-decoration-line: none;
    width: 100% !important;
    background: #fff;
  }

  .card-header {
    padding: 0px !important;
    margin: 0;
    border-bottom: 1px solid #a6c1ff;
  }
}

// FILTER SECTION START
.filter-section {
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid #babfc7;
  margin-bottom: 10px;
}
label {
  font-size: 13px!important;
  padding-top: 5px;
  margin-bottom: 0;
  font-weight: 400;
}
select.form-select {
  height: 30px;
  margin: 2px 0 0;
  padding: 5px;
  border-radius: 0;
  font-size: 13px;
  line-height: 1.5;
}
.main-content{
  overflow: inherit!important;
}
.form-control{
  padding: 5px 5px;
  height: 30px;
}
.input-group .btn {
  padding: 4px 10px;
  border: 1px solid #e7e7e7;
}

.gm-style .gm-style-iw {
  max-width: 650px !important;
}


.table-bordered th, .table-bordered td {
  color: #000;
}