<!-- ==========DPZ Add Modal======== -->

<ng-template #modalDPZ let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">DPZ Information</h4>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <!-- <div class="mb-2 row">
          <label for="dpzName" class="col-md-5 col-form-label">Thana</label>
          <div class="col-md-7">
            <select name="" class="form-control" [(ngModel)]="selectedDPZ.thanaID">
                <option *ngFor="let item of lstThana" value="{{item.thanaID}}">{{item.thanaName}}</option>
            </select>
          </div>
        </div>
        <div class="mb-2 row">
          <label for="dpzName" class="col-md-5 col-form-label">Mouza</label>
          <div class="col-md-7">
            <select name="" class="form-control" [(ngModel)]="selectedDPZ.mouzaID">
                <option *ngFor="let item of lstMouza" value="{{item.mouzaID}}">{{item.mouzaName}}</option>
            </select>
          </div>
        </div> -->
        <div class="mb-2 row">
          <label for="dpzName" class="col-md-5 col-form-label">DPZ Name</label>
          <div class="col-md-7">
            <input id="dpzName" class="form-control" type="text" [(ngModel)]="selectedDPZ.dpzName">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="dpzNameBangla" class="col-md-5 col-form-label">DPZ Name (বাংলা)</label>
          <div class="col-md-7">
            <input id="dpzNameBangla" class="form-control" type="text" [(ngModel)]="selectedDPZ.dpzNameBangla">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="Status" class="col-md-5 col-form-label">Status</label>
          <div class="col-md-7">
            <div class="form-check form-switch form-switch-md mb-3">
              <input class="form-check-input" type="checkbox" [(ngModel)]="selectedDPZ.isActive"
                id="Status" checked>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modalClose()"><i class="fas fa-times"></i>
        Close</button>
      <button type="button" *ngIf="!selectedDPZ.dpzid" class="btn btn-success" (click)="saveDPZ()"><i class="fas fa-save"></i>
        Save</button>
      <button type="button" *ngIf="selectedDPZ.dpzid>0"  class="btn btn-success" (click)="updateDPZ()"><i class="fas fa-save"></i>
        Update</button>
    </div>
  </ng-template>
  <!-- ==========DPZ Add Modal======== -->
  
  <div class="container-fluid">
    <app-page-title title="DPZ List"></app-page-title>
    <div class="row">
      <div class="col-md-10 my-1">
        <button (click)="addDPZ()" class="btn btn-success me-1"><i class="fa fa-plus"></i> Add New</button>
        <button *ngIf="selectedDPZ.dpzid > 0" (click)="editDPZ()" class="btn btn-primary mx-1"><i
            class="fa fa-edit"></i> Edit DPZ</button>
        <button [disabled]="selectedDPZ.isActive" (click)="deleteDPZ()" *ngIf="selectedDPZ.dpzid > 0" class="btn btn-danger mx-1"><i class="fa fa-minus"></i> Delete</button>
        <!-- <button (click)="updateOrder()" class="btn btn-dark mx-1"><i class="fa fa-check"></i> Update Order</button> -->
        <button (click)="onBtnExport()" class="btn btn-outline-info mx-1"><i class="fas fa-file-excel"></i> Excel</button>
      </div>
  
      <div class="col-lg-12">
        <ag-grid-angular style="width: 100%; height: 75vh;" class="ag-theme-alpine" [rowData]="lstDPZ"
          [columnDefs]="columnDefs" [gridOptions]="gridOptions" (selectionChanged)="onSelect()"
          (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
    </div>
  </div>