<!-- ==========ApplicationMigration Add Modal======== -->

<ng-template #modalApplicationMigration let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Application Migration Information</h4>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="refNo" class="col-md-3 col-form-label">Approval Number</label>
                <div class="col-md-9">
                    <input id="refNo" class="form-control" type="text" [(ngModel)]="selectedApplicationMigration.refNo">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="applicationMigrationName" class="col-md-3 col-form-label">Applicant Name</label>
                <div class="col-md-9">
                    <input id="applicationMigrationName" class="form-control" type="text"
                        [(ngModel)]="selectedApplicationMigration.applicantName">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="approvalDate" class="col-md-3 col-form-label">Approval Date</label>
                <div class="col-md-9">
                    <input id="approvalDate" class="form-control" type="date"
                        [(ngModel)]="selectedApplicationMigration.approvalDate">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="approvalDate" class="col-md-3 col-form-label">Application Type</label>
                <div class="col-md-9">
                    <select class="form-select" name="" id=""
                        [(ngModel)]="selectedApplicationMigration.applicationType">
                        <option *ngFor="let item of lstApplicationType" value="{{item.applicationTypeID}}">
                            {{item.applicationTypeName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="RsNo" class="col-md-3 col-form-label">RS No</label>
                <div class="col-md-9">
                    <input id="RsNo" class="form-control" type="text" [(ngModel)]="selectedApplicationMigration.rsNo">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="RsNo" class="col-md-3 col-form-label">BS No</label>
                <div class="col-md-9">
                    <input id="RsNo" class="form-control" type="text" [(ngModel)]="selectedApplicationMigration.bsNo">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="Thana" class="col-md-3 col-form-label">Thana</label>
                <div class="col-md-9">
                    <select id="Thana" class="form-select" [(ngModel)]="selectedApplicationMigration.thanaID"
                        (change)="onChangeThana()">
                        <option *ngFor="let thana of lstThana" [value]="thana.thanaID">{{thana.thanaName}}
                            <span *ngIf="thana.thanaNameBangla">({{thana.thanaNameBangla}})</span>
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="Mouza" class="col-md-3 col-form-label">Mouza</label>
                <div class="col-md-9">
                    <select id="Mouza" class="form-select" [(ngModel)]="selectedApplicationMigration.mouzaID">
                        <option *ngFor="let mouza of lstMouza" [value]="mouza.mouzaID">{{mouza.mouzaName}}
                            <span *ngIf="mouza.mouzaNameBangla">({{mouza.mouzaNameBangla}})</span>
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="RsNo" class="col-md-3 col-form-label">Road</label>
                <div class="col-md-9">
                    <input id="RsNo" class="form-control" type="text" [(ngModel)]="selectedApplicationMigration.road">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="RsNo" class="col-md-3 col-form-label">Is Migrated</label>
                <div class="col-md-9">
                    <span *ngIf="selectedApplicationMigration.applicationFileMasterID > 0" class="badge bg-success fs-14">
                        Migration Complete
                    </span>
                    <span *ngIf="selectedApplicationMigration.applicationFileMasterID == 0" class="badge bg-warning fs-14">
                        Not migrated yet
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modalClose()"><i class="fas fa-times"></i>
            Close</button>
        <button type="button" class="btn btn-success" (click)="update()"
            [disabled]="selectedApplicationMigration.applicationFileMasterID > 0"><i class="fas fa-save"></i>
            Update</button>
    </div>
</ng-template>
<!-- ==========ApplicationMigration Add Modal======== -->

<div class="container-fluid">
    <app-page-title title="Application Migration"></app-page-title>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-1">
                <div class="card-body p-3">
                    <!-- <h4 class="card-title">Create User</h4> -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-1 row">
                                <label for="Users" class="col-md-5 col-form-label text-end">Application Type</label>
                                <div class="col-md-7">
                                    <select class="form-select"
                                        [(ngModel)]="selectedApplicationMigration.applicationTypeID">
                                        <option value="0">Select one</option>
                                        <option *ngFor="let obj of lstApplicationType"
                                            value="{{obj.applicationTypeID}}">
                                            {{obj.applicationTypeName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-1 row">
                                <label for="Users" class="col-md-4 col-form-label text-end">Excel File</label>
                                <div class="col-md-8">
                                    <input #csvReader class="form-control form-control-sm" id="formFileSm" type="file"
                                        style="padding: 0.34rem 0.5rem;" (change)="onChangeFile($event)"
                                        accept=".csv, .xlsx"
                                        [disabled]="selectedApplicationMigration.applicationTypeID == 0">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="">
                                <button class="btn-sm btn-success" (click)="uploadFile()"
                                    [disabled]="selectedApplicationMigration.applicationTypeID == 0"><i
                                        class="mdi mdi-upload"></i>
                                    Upload</button>
                                <button class="btn-sm btn-danger ms-2"
                                    [disabled]="selectedApplicationMigration.applicationTypeID == 0"><i
                                        class="mdi mdi-close"></i> Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-1">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="mb-1 row">
                                <label for="Users" class="col-md-3 col-form-label text-center">File</label>
                                <div class="col-md-9">
                                    <select class="form-select" [(ngModel)]="pageModel.type" (change)="getAll()" >
                                        <option value="0">Not Migrated</option>
                                        <option value="1">Migrated</option>
                                        <option value="2">All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 my-1" >
                            <div class="form-check form-checkbox-outline form-check-primary mb-0 mt-2 ms-3">
                                <input class="form-check-input" type="checkbox"
                                    (click)="checkAll(lstApplicationMigration, gridOptions, pageModel.isCheckAll_Union)"
                                    [(ngModel)]="pageModel.isCheckAll_Union" id="customCheckcolor1" [disabled]="pageModel.type!=0" checked >
                                <label class="form-check-label" for="customCheckcolor1" style=" margin-top: -5px; ">
                                    Check All
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 my-1">
                            <button (click)="process()" class="btn btn-primary" [disabled]="pageModel.type!=0"> Process
                                {{pageModel.totalApplicationMigrationChecked}}
                            </button>
                        </div>
                        <div class="col-md-5 my-1">
                            <div class="text-end">
                                <button (click)="onEdit()" *ngIf="selectedApplicationMigration.applicationMigrationID>0"
                                    class="btn btn-primary"><i class="fa fa-edit"></i> Edit
                                </button>
                                <button (click)="onDelete()"
                                    *ngIf="selectedApplicationMigration.applicationMigrationID>0"
                                    class="btn btn-danger mx-1"><i class="fas fa-minus"></i>
                                    Delete</button>
                                <button (click)="onBtnExport()" class="btn btn-outline-info"><i
                                        class="fas fa-file-excel"></i>
                                    Excel</button>
                            </div>

                        </div>

                        <div class="col-lg-12">
                            <ag-grid-angular style="width: 100%; height: 75vh;" class="ag-theme-alpine"
                                [rowData]="lstApplicationMigration" [columnDefs]="columnDefs"
                                [gridOptions]="gridOptions" (selectionChanged)="onSelect()"
                                (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>