<ng-template #modalVillageArea let-modal>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">VillageArea Information</h4>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <div class="mb-2 row">
          <label for="villageAreaID" class="col-md-5 col-form-label">UnionWard</label>
          <div class="col-md-7">
            <select id="villageAreaID" class="form-select"
              [(ngModel)]="selectedVillageArea.unionWardVillageAreaMap.unionWardID" formControlName="unionWardID">
              <option *ngFor="let unionWard of lstUnionWard" [value]="unionWard.unionWardID">{{unionWard.unionWardName}}
              </option>
            </select>
          </div>
        </div>
        <div class="mb-2 row">
          <label for="villageAreaName" class="col-md-5 col-form-label">VillageArea Name</label>
          <div class="col-md-7">
            <input id="villageAreaName" class="form-control" type="text"
              [(ngModel)]="selectedVillageArea.villageAreaName" formControlName="villageAreaName">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="villageAreaName" class="col-md-5 col-form-label">VillageArea Code</label>
          <div class="col-md-7">
            <input id="villageAreaName" class="form-control" type="text"
              [(ngModel)]="selectedVillageArea.villageAreaCode" formControlName="villageAreaCode">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="villageAreaNameBangla" class="col-md-5 col-form-label">VillageArea Name (বাংলা)</label>
          <div class="col-md-7">
            <input id="villageAreaNameBangla" class="form-control" type="text"
              [(ngModel)]="selectedVillageArea.villageAreaNameBangla" formControlName="villageAreaNameBangla">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="Status" class="col-md-5 col-form-label">Status</label>
          <div class="col-md-7">
            <div class="form-check form-switch form-switch-md mb-3">
              <input class="form-check-input" type="checkbox"
                [(ngModel)]="selectedVillageArea.unionWardVillageAreaMap.isActive" id="Status"
                formControlName="isActive">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modalClose()"><i class="fas fa-times"></i>
        Close</button>
      <button type="button" type="submit" *ngIf="!selectedVillageArea.villageAreaID" [disabled]="!reactiveForm.valid"
        class="btn btn-success"><i class="fas fa-save"></i>
        Save</button>
      <button type="button" type="submit" *ngIf="selectedVillageArea.villageAreaID>0" [disabled]="!reactiveForm.valid"
        class="btn btn-success"><i class="fas fa-save"></i>
        Update</button>
    </div>
  </form>

</ng-template>

<div class="container-fluid">
  <app-page-title title="VillageArea List"></app-page-title>
  <div class="row">
    <div class="col-md-12">
      <div class="filter-section">
        <div class="row">
          <div class="col-md-11">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row align-items-center">
                  <label class="col-md-5 control-label">Country :</label>
                  <div class="col-md-7">
                    <select class="form-select" name="" id="" (change)="onChangeCountry()"
                      [(ngModel)]="queryObject.countryID">
                      <option value="0">All</option>
                      <option *ngFor="let obj of lstCountry" [value]="obj.countryID">{{obj.countryName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row align-items-center">
                  <label class="col-md-5 control-label">Division :</label>
                  <div class="col-md-7">
                    <select class="form-select" name="" id="" (change)="onChangeDivision()"
                      [(ngModel)]="queryObject.divisionID">
                      <option value="">All</option>
                      <option *ngFor="let obj of lstDivision" [value]="obj.divisionID">{{obj.divisionName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row align-items-center">
                  <label class="col-md-5 control-label">District :</label>
                  <div class="col-md-7"> 
                    <select class="form-select" name="" id="" (change)="onChangeDistrict()" [(ngModel)]="queryObject.districtID">
                      <option value="">All</option>
                      <option *ngFor="let obj of lstDistrict" [value]="obj.districtID">{{obj.districtName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row align-items-center">
                  <label class="col-md-5 control-label"> Upazila/City Corporation :</label>
                  <div class="col-md-7">
                    <select class="form-select" name="" id="" (change)="onChangeUpazila()" [(ngModel)]="queryObject.upazilaCityCorporationID">
                      <option value="">All</option>
                      <option *ngFor="let obj of lstUpazilaCityCorporation" [value]="obj.upazilaCityCorporationID">{{obj.upazilaCityCorporationName}}</option>

                      
                    </select>
                  </div>
                </div>
              </div>   
              <div class="col-md-4">
                <div class="form-group row align-items-center">
                  <label class="col-md-5 control-label">Thana :</label>
                  <div class="col-md-7">
                    <select class="form-select" name="" id="" (change)="onChangeThana()" [(ngModel)]="queryObject.thanaID">
                      <option value="">All</option>
                      <option *ngFor="let obj of lstThana" [value]="obj.thanaID">{{obj.thanaName}}</option>

                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row align-items-center">
                  <label class="col-md-5 control-label">Union :</label>
                  <div class="col-md-7">
                    <select class="form-select" name="" id="" [(ngModel)]="queryObject.unionWardID">
                      <option value="">All</option>
                      <option *ngFor="let obj of lstUnionWard" [value]="obj.unionWardID">{{obj.unionWardName}}</option>

                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1 text-end">
            <button class="btn btn-outline-secondary btn-sm rounded fs-6" title="Reset"><i
                class="fs-6 fa fa-retweet"></i> Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row my-2">
        <div class="col-md-3">
          <a> Total Entry : <span class="badge bg-secondary p-2">{{lstVillageArea.length}}</span></a>
        </div>
        <div class="col-md-9 text-end">
          <button (click)="add()" class="btn btn-success me-1"><i class="fa fa-plus"></i> Add New</button>
          <button *ngIf="selectedVillageArea.villageAreaID > 0" (click)="edit()" class="btn btn-primary mx-1"><i
              class="fa fa-edit"></i> Edit VillageArea</button>
          <button *ngIf="selectedVillageArea.villageAreaID > 0" (click)="remove()" class="btn btn-danger mx-1"><i
              class="fa fa-minus"></i> Delete VillageArea</button>
          <button (click)="onBtnExport()" class="btn btn-outline-dark mx-1"><i class="fas fa-file-excel"></i>
            Excel</button>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <ag-grid-angular style="width: 100%; height: 75vh;" class="ag-theme-alpine" [rowData]="lstVillageArea"
        [columnDefs]="columnDefs" [gridOptions]="gridOptions" (selectionChanged)="onSelect()"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>