// =================Stat/box Section 

.avatar-title {
    background-color: #008c45;
}
.card-ui-1{
    border: 1px solid #43bcf5;
    background-color: #43bdf54b;
    cursor: pointer;
}
.card-ui-2{
    border: 1px solid #1acf41;
    background-color: #43f55b2d;
    cursor: pointer;
}
.card-ui-3{
    border: 1px solid #4364f5;
    background-color: #436cf54b;
    cursor: pointer;
}
.card-ui-4{
    border: 1px solid #e043f5;
    background-color: #e643f54b;
    cursor: pointer;
}
.card-ui-5{
    border: 1px solid #f54343;
    background-color: #f543434b;
    cursor: pointer;
}
// ===============Card Active

// .active-card-1{
//     border-bottom: 4px solid #1acf41;
// }
// .active-card-2{
//     border-bottom: 4px solid #4364f5;
// }
// .active-card-3{
//     border-bottom: 4px solid #e043f5;
// }
// .active-card-4{
//     border-bottom: 4px solid #f54343;
// }

 //==================Table Section

 
.custome-link:hover::after{
    content: "\f022";
    font-family: "Font Awesome 5 Free"; 
    margin-left: 5px;
    cursor: pointer;
}


.active-table-completed{
    background: #9adaf82d;
    border: 2px solid #016a9b4b;
}
.active-table-pending{
    background: #ff919142;
    border: 2px solid #f53c3c71;
}

.cursor-pointer:hover{
    cursor: pointer;
}



// .stat-active-1{
//     border-bottom: 3px solid #43bcf5;
// }
// .stat-active-2{
//     border-bottom: 3px solid #4364f5;
// }
// .stat-active-3{
//     border-bottom: 3px solid #e043f5;
// }
// .stat-active-4{
//     border-bottom: 3px solid #f54343;
// }
// .stat-active-5{
//     border-bottom: 3px solid #1acf41;
   
// }


.table-active-1{
    border-top: 3px solid #1acf41;
}
.table-active-2{
    
    border-top: 3px solid #4364f5;
}
.table-active-3{
    border-top: 3px solid #e043f5;
}
.table-active-4{
    border-top: 3px solid #f54343;
}
.table-active-5{
    border-top: 3px solid #43bcf5;
}


.table-active-1 .fd-main-table thead .active-tr > th{
   background-color:  #1acf4186;
}
.table-active-2 .fd-main-table thead .active-tr > th{
   background-color:  #4364f54f;
}
.table-active-3 .fd-main-table thead .active-tr > th{
   background-color:  #e043f559;
}
.table-active-4 .fd-main-table thead .active-tr > th{
   background-color:  #f5434381;
}
.table-active-5 .fd-main-table thead .active-tr > th{
    background-color:  #43bdf556;
 }

 .text-optimize{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 200px;
 }

 .read-more-icon {
    position: absolute;
  }
  