<!-- <app-loader></app-loader> -->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Dashboard</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Welcome to Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="row" *ngIf="adminDashboard && adminDashboard.adminDashboardFileTypeWiseList">
                <div *ngFor="let stat of adminDashboard.adminDashboardFileTypeWiseList; let i=index;" class="col">
                    <div class="card mini-stats-wid card-link card-ui-{{i+1}} active-card-{{i}}" id="statID{{i}}"
                        (click)="loadData(stat.applicationType)">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mb-2">{{stat.applicationTypeName}}</h5>
                                    <p class="mb-0"><span>Total File : {{stat.totalFile}}</span> </p>
                                    <p class="mb-0"><span>Visited : {{stat.visited}}</span></p>
                                    <p class="mb-0"><span>Pending : {{stat.totalFile - stat.visited}}</span></p>
                                </div>

                                <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                    <span class="avatar-title">
                                        <i class="bx bxs-business font-size-24"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- end card-body -->
                    </div>
                </div>

            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end row -->

   

    <div class="row">
        <div class="col-lg-12">
            <div class="card " [ngClass]="{
                    'table-active-1': uiStatusChange === 1,
                    'table-active-5': uiStatusChange === 2,
                    'table-active-4': uiStatusChange === 3,
                    'table-active-2': uiStatusChange === 4,
                    'table-active-3': uiStatusChange === 5
                    
                }">
                <div class="card-body p-3">
                    <h4 class="card-title mb-2">File Details 
                        <span *ngIf="uiStatusChange == 0 ">(All)</span>
                        <span *ngIf="uiStatusChange == 2 ">(BC Case)</span>
                        <span *ngIf="uiStatusChange == 1 ">(LUC)</span>
                        <span *ngIf="uiStatusChange == 4 ">(Occupancy Certificate)</span>
                        <span *ngIf="uiStatusChange == 5 ">(Others)</span>
                        <span *ngIf="uiStatusChange == 3 ">(Specal Case)</span>
                    </h4>
                    <div class="table-responsive mb-0">
                        <table class="table table-bordered table-centered table-nowrap fd-main-table">
                            <thead class="table-light">
                                <tr class="active-tr">
                                    <th class="text-left">User ID</th>
                                    <th class="text-left">Department</th>
                                    <th class="text-center">Total</th>
                                    <th class="text-center">Inspection Completed</th>
                                    <th class="text-center">Inspection Pending</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let data of adminDashboard.adminDashboardFileUserWiseList">
                                    <tr>
                                        <td>{{data.userFullName}}</td>
                                        <td>{{data.departmentName}}</td>
                                        <td class="text-center">{{data.totalFile}}</td>
                                        <td class="text-center"><span
                                                class="badge badge-pill badge-soft-success font-size-13 custome-link cursor-pointer"
                                                (click)="getListByUser(data, true)">{{data.visited}}</span></td>
                                        <td class="text-center"><span
                                                class="badge badge-pill badge-soft-danger font-size-13 custome-link cursor-pointer"
                                                (click)="getListByUser(data, false)">{{data.totalFile -data.visited}}</span>
                                        </td>
                                    </tr>
                                    <tr *ngIf="data.isFileDetails">
                                        <td colspan="5">
                                            <div class="file-details-box" [ngClass]="{
                                                    'active-table-completed': fileDetailsListToggle == true,
                                                    'active-table-pending': fileDetailsListToggle == false
                                                }">
                                                <div class="table-responsive mb-0">
                                                    <table class="table table-centered table-nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>SL</th>
                                                                <th>File/Ref No</th>
                                                                <th>Applicant Name</th>
                                                                <th>Thana</th>
                                                                <th>Mouza</th>
                                                                <th>Assign Date</th>
                                                                <th>Target Date</th>
                                                                <th>Visit Date</th>
                                                                <th>Is Visit</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                *ngFor="let data of adminDashboard.adminDashboardFileListUserWise; let i = index">
                                                                <td>{{i + 1}}</td>
                                                                <td>{{data.refNo}}</td>
                                                                <td><span class="text-optimize" data-toggle="tooltip" data-placement="top" ngbTooltip="{{data.applicantName}}">{{data.applicantName}}</span> </td>
                                                                <td>{{data.thanaName}}</td>
                                                                <td>{{data.mouzaName}}</td>
                                                                <td>{{data.assignDate | date:'dd-MMM-yyyy'}}</td>
                                                                <td>{{data.targetDate | date:'dd-MMM-yyyy'}}</td>
                                                                <td>{{data.visitDate | date:'dd-MMM-yyyy'}}</td>
                                                                <td>{{data.isVisited}}</td>


                                                                <!-- <td><span
                                                                        class="badge badge-pill badge-soft-success font-size-16 cursor-pointer">PO
                                                                        <i class="bx bx-street-view "></i></span></td> -->
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>

                    </div>
                    <!-- end table -->
                    <!-- end table -->
                </div>
            </div>
        </div>
    </div>
</div> <!-- container-fluid -->