<!-- ==========User Assign Modal======== -->

<ng-template #modalUserAssign let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">User Assign</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-12">
                    <div class="mb-2 row">
                        <label for="User" class="col-md-4 col-form-label">User</label>
                        <div class="col-md-8">
                            <!-- [disabled]="this.selectedApplicationFileUserMap.applicationFileUserMapID" -->
                            <select id="userID" class="form-select" (change)="userChange()"
                                [(ngModel)]="selectedApplicationFileUserMap.userID" >
                                <option [value]=0>Select User</option>
                                <option *ngFor="let user of lstUser" [value]="user.userAutoID">{{user.userFullName}}
                                </option>
                            </select>
                            
                        </div>
                    </div>    
                </div>
                <div class="col-md-12">
                    <div class="mb-2 row">
                        <label for="User" class="col-md-4 col-form-label">Assign Date</label>
                        <div class="col-md-8">
                            <input type="date" [disabled]="selectedApplicationFileUserMap.userID == 0" [(ngModel)]="selectedApplicationFileUserMap.assignDate" class="form-control customeDatepicker" >
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-2 row">
                        <label for="User" class="col-md-4 col-form-label">Target Date</label>
                        <div class="col-md-8">
                            <input type="date" [disabled]="selectedApplicationFileUserMap.userID == 0" [(ngModel)]="selectedApplicationFileUserMap.targetDate" class="form-control customeDatepicker" >
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-2 row">
                        <label for="User" class="col-md-4 col-form-label">Is Active</label>
                        <div class="col-md-8">
                            <div class="form-check form-switch form-switch-md mb-3">
                                <input class="form-check-input" type="checkbox" id="isActive"  [(ngModel)]="selectedApplicationFileUserMap.isActive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-right" >
                    <p style="width: 100px;height: 100px;border: 1px solid #d8d8d8;margin: 5px 0 0 auto;">
                        <img *ngIf="userImage" style="width: 100%;" src="{{userImage}}" alt="User Image">
                        <img *ngIf="!userImage" style="width: 100%;" src="../../../../assets/images/logo/profile-default.png" alt="User Image">
                    </p>
                </div>
            </div>
            

        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modalCloseUserAssign()"><i class="fas fa-times"></i>
            Close</button>
        <button type="button" class="btn btn-success" (click)="submitUserAssign()"><i class="fas fa-check"></i>
            Assign</button>
    </div>
</ng-template>
<!-- ==========ApplicationFileMaster Add Modal======== -->

<ng-template #modalApplicationFileMaster let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Service Delivery</h4>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="refNo" class="col-md-3 col-form-label">Approval Number</label>
                <div class="col-md-9">
                    <input id="refNo" class="form-control" type="text"
                        [(ngModel)]="selectedApplicationFileMaster.refNo">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="applicationFileMasterName" class="col-md-3 col-form-label">Applicant Name</label>
                <div class="col-md-9">
                    <input id="applicationFileMasterName" class="form-control" type="text"
                        [(ngModel)]="selectedApplicationFileMaster.applicantName">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="approvalDate" class="col-md-3 col-form-label">Approval Date</label>
                <div class="col-md-9">
                    <input id="approvalDate" class="form-control" type="date"
                        [(ngModel)]="selectedApplicationFileMaster.approvalDate">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="approvalDate" class="col-md-3 col-form-label">Application Type</label>
                <div class="col-md-9">
                    <select class="form-select" name="" id="" [(ngModel)]="selectedApplicationFileMaster.applicationType">
                        <option *ngFor="let item of lstApplicationType" value="{{item.applicationTypeID}}">{{item.applicationTypeName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="RsNo" class="col-md-3 col-form-label">RS No</label>
                <div class="col-md-9">
                    <input id="RsNo" class="form-control" type="text" [(ngModel)]="selectedApplicationFileMaster.rsNo">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="RsNo" class="col-md-3 col-form-label">BS No</label>
                <div class="col-md-9">
                    <input id="RsNo" class="form-control" type="text" [(ngModel)]="selectedApplicationFileMaster.bsNo">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="Thana" class="col-md-3 col-form-label">Thana</label>
                <div class="col-md-9">
                    <select id="unionWardID" class="form-select" [(ngModel)]="selectedApplicationFileMaster.thanaID" (change)="onChangeThana()">
                        <option *ngFor="let thana of lstThana" [value]="thana.thanaID">{{thana.thanaName}}
                            <span *ngIf="thana.thanaNameBangla">({{thana.thanaNameBangla}})</span>
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="Mouza" class="col-md-3 col-form-label">Mouza</label>
                <div class="col-md-9">

                    <select id="unionWardID" class="form-select" [(ngModel)]="selectedApplicationFileMaster.mouzaID">
                        <option *ngFor="let mouza of lstMouza" [value]="mouza.mouzaID">{{mouza.mouzaName}}
                            <span *ngIf="mouza.mouzaNameBangla">({{mouza.mouzaNameBangla}})</span>
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modalClose()"><i class="fas fa-times"></i>
            Close</button>
        <button type="button" class="btn btn-success" (click)="update()"><i class="fas fa-save"></i>
            Update</button>
    </div>
</ng-template>
<!-- ==========ApplicationFileMaster Add Modal======== -->


<div class="container-fluid">
    <app-page-title title="Service Delivery"></app-page-title>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-1">
                <div class="card-body p-3">
                    <div class="row">

                        <div class="col-md-6 my-1">
                            <!-- *ngIf="pageModel.totalApplicationFileMasterChecked>0" -->
                            <button (click)="userAssignModal()" class="btn btn-success"><i class="fa fa-user-circle" aria-hidden="true"></i> User
                                Assign
                            </button>    
                        </div>
                        <div class="col-md-6 my-1">
                            <div class="text-end">
                                <button (click)="onEdit()"
                                    *ngIf="selectedApplicationFileMaster.applicationFileMasterID>0"
                                    class="btn btn-primary"><i class="fa fa-edit"></i> Edit
                                </button>
                                <button (click)="onDelete()"
                                    *ngIf="selectedApplicationFileMaster.applicationFileMasterID>0"
                                    class="btn btn-danger mx-1"><i class="fas fa-minus"></i>
                                    Delete</button>
                                <button (click)="onBtnExport()" class="btn btn-outline-info"><i
                                        class="fas fa-file-excel"></i>
                                    Excel</button>
                            </div>

                        </div>

                        <div class="col-lg-12">
                            <ag-grid-angular style="width: 100%; height: 75vh;" class="ag-theme-alpine"
                                [rowData]="lstApplicationFileMaster" [columnDefs]="columnDefs"
                                [gridOptions]="gridOptions" (selectionChanged)="onSelect()"
                                (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
                            </ag-grid-angular>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>