<div class="hold-transition theme-fruit bg-img" style="
background-position: center center;
background-repeat:  no-repeat;
background-attachment: fixed;
background-size:  cover;
background-color: #999;">
  <!-- <video id="myVideo" autoplay preload="auto">
    <source src="./assets/videos/login.mp4" type="video/mp4">
    <source src="./assets/videos/login.webm" type="video/webm">
  </video> -->
  <img id="myVideo" style="width:100%"  src="../../../../assets/images/rtims/login-bg.jpg" alt="">

  <div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-soft bg-primary">
              <div class="row">
                <!-- <div class="col-12">
                <div class="text-primary text-center p-4">
                  <h5 class="text-primary">Welcome to Real Time Inspection Monitoring System</h5>
                  <p>Sign in to continue to RTIMS</p>
                </div>
              </div> -->
              <div class="col-12 align-self-center">
                <div class="text-center py-3 px-3">
                  <p><img style="width: 100%;" src="../../../../assets/images/rtims/logo.png" alt=""
                      class="img-fluid"></p>
                </div>

              </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <!-- <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="../../../../assets/images/rtims/brand-icon.png" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div> -->
              <div class="text-primary text-center my-3">
                <!-- <h5 class="text-primary">Welcome to Real Time Inspection Monitoring System</h5> -->
                <p>Sign in to continue</p>
              </div>
              <div class="p-2">
                <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                  <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                  <div class="mb-3">
                    <label for="email">Username</label>
                    <input type="text" formControlName="email" class="form-control" id="email" placeholder="Username"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">User ID is required</div>
                      <div *ngIf="f.email.errors.email">Must be a valid User ID</div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="password">Password</label>
                    <div class="input-group auth-pass-inputgroup">
                      <input type="password" class="form-control" formControlName="password"
                        placeholder="Enter password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                        aria-label="Password" aria-describedby="password-addon">

                      <button class="btn btn-light ms-0" type="button" id="password-addon"><i
                          class="mdi mdi-eye-outline"></i></button>
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <span *ngIf="f.password.errors.required">Password is required</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember-check">
                    <label class="form-check-label" for="remember-check">
                      Remember me
                    </label>
                  </div>

                  <div class="mt-3 d-grid">
                    <button class="btn btn-primary" type="submit">Log In</button>
                  </div>

                  <!-- <div class="mt-4 text-center">
                    <a routerLink="/account/reset-password" class="text-muted"><i class="mdi mdi-lock mr-1"></i> Forgot
                      your
                      password?</a>
                  </div> -->
                </form>
              </div>

            </div>
          </div>
          <div class="mt-5 text-center">
            <!-- <p>Don't have an account ? <a routerLink="/account/signup" class="fw-medium text-primary"> Signup
              now
            </a> </p> -->
            <!-- <p>© {{year}} RTIMS Developed By<i class="mdi mdi-heart text-danger"></i><a
                href="https://solution-world.com"> Solution World Limited</a></p> -->
          </div>

        </div>
      </div>
    </div>

    <!-- end container -->
  </div>
</div>
<!-- end page -->