<div class="container-fluid">
  <!-- toggleSearch="iconToggle" -->
  <app-page-title title="Inspection Monitoring"></app-page-title>

  <div class="row">

    <div class="col-lg-3">
      <div class="monitoring-search-box">
        <div class="card" style="min-height: 80vh;">
          <div class="card-body p-3">
            <div class="row">
              <label for="Mouza" class="col-md-4 col-form-label">File/Ref No</label>
              <div class="col-md-8">
                <input type="text" class="form-control" [(ngModel)]="queryObject.referenceNo" (keyup.enter)="searchByFileNo()"
                  placeholder="Type File/Ref No and Press Enter">
              </div>
            </div>
            <hr>
            <div class="mb-1 row">
              <label for="Department" class="col-md-4 col-form-label">Department</label>
              <div class="col-md-8">
                <select id="Department" class="form-select" [(ngModel)]="queryObject.departmentID">
                  <option value="0"> Select Department</option>
                  <option *ngFor="let dept of lstDepartment" [value]="dept.departmentID"> {{dept.departmentName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="mb-1 row">
              <label for="ApplicationType" class="col-md-4 col-form-label">Appli. Type</label>
              <div class="col-md-8">
                <select id="ApplicationType" class="form-select" [(ngModel)]="queryObject.applicationType">
                  <option value="0"> Select ApplicationType</option>
                  <option *ngFor="let type of lstApplicationType" [value]="type.applicationTypeID">
                    {{type.applicationTypeName}}</option>
                </select>
              </div>
            </div>
            <div class="mb-1 row">
              <label for="DPZ" class="col-md-4 col-form-label">DPZ</label>
              <div class="col-md-8">
                <select id="DPZ" class="form-select" [(ngModel)]="queryObject.dpzID">
                  <option value="0"> Select DPZ</option>
                  <option *ngFor="let dpz of lstDPZ" [value]="dpz.dpzid"> {{dpz.dpzName}}</option>
                </select>
              </div>
            </div>
            <div class="mb-1 row">
              <label for="Thana" class="col-md-4 col-form-label">Thana</label>
              <div class="col-md-8">
                <select id="Thana" class="form-select" [(ngModel)]="queryObject.thanaID">
                  <option value="0"> Select Thana</option>
                  <option *ngFor="let org of lstThana" [value]="org.thanaID"> {{org.thanaName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="mb-1 row">
              <label for="Mouza" class="col-md-4 col-form-label">Mouza</label>
              <div class="col-md-8">
                <select id="Mouza" class="form-select" [(ngModel)]="queryObject.mouzaID">
                  <option value="0"> Select Mouza</option>
                  <option *ngFor="let mouza of lstMouza" [value]="mouza.mouzaID"> {{mouza.mouzaName}}</option>
                </select>
              </div>
            </div>
            <div class="mb-1 row">
              <label for="Mouza" class="col-md-4 col-form-label">From Date</label>
              <div class="col-md-8">
                <input type="date" class="form-control" [(ngModel)]="queryObject.fromDate">
              </div>
            </div>
            <div class="mb-1 row">
              <label for="Mouza" class="col-md-4 col-form-label">To Date</label>
              <div class="col-md-8">
                <input type="date" class="form-control" [(ngModel)]="queryObject.toDate">
              </div>
            </div>
            <div class="mb-1 row">
              <label for="Officer" class="col-md-4 col-form-label">Officer</label>
              <div class="col-md-8">
                <select id="Officer" class="form-select" [(ngModel)]="queryObject.userAutoID">
                  <option value="0"> Select Officer</option>
                  <option *ngFor="let user of lstUser" [value]="user.userAutoID"> {{user.userFullName}}</option>
                </select>
              </div>
            </div>
            <div class="mb-1 row inspectionStatus">
              <div class="col-md-4">
                <div class="form-check form-radio-primary mb-3">
                  <input class="form-check-input" type="radio" name="formRadioColor1" id="totalFile"
                    [(ngModel)]="queryObject.visitType" [value]="2" checked>
                  <label class="form-check-label" for="totalFile">
                    Total File
                  </label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-check form-radio-primary mb-3">
                  <input class="form-check-input" type="radio" name="formRadioColor1" id="visited"
                    [(ngModel)]="queryObject.visitType" [value]="1"  checked>
                  <label class="form-check-label" for="visited">
                    Visited
                  </label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-check form-radio-primary mb-3">
                  <input class="form-check-input" type="radio" name="formRadioColor1" id="pending"
                    [(ngModel)]="queryObject.visitType" [value]="0" checked>
                  <label class="form-check-label" for="pending">
                    Pending
                  </label>
                </div>
              </div>
            </div>

            <div class="mt-2 row">
              <div class="col-md-12 text-end">
                <button class="btn btn-primary" (click)="search()"><i class="bx bx-search"></i> Search</button>
              </div>
            </div>
            <div class="mt-2 row">
              <div class="col-md-12">
                <h5>Search Information</h5>
                <div class="list-search-info">
                  <div class="table-responsive h-200">
                    <table class="table table-bordered custom-table-padding">
                      <thead>
                        <tr>
                          <th>SN</th>
                          <th>DPZ</th>
                          <th>Thana</th>
                          <th>Mouza</th>
                          <!-- <th>Appli Type</th> -->
                          <th>File No</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of responsData; let i=index">
                          <td>{{i+1}}</td>
                          <td>{{data.dpzName}}</td>
                          <td>{{data.tanaName}}</td>
                          <td>{{data.mouzaName}}</td>
                          <td>{{data.refNo}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">
          <!-- <h4 class="card-title mb-3">Markers</h4>
          <p class="card-title-dsec">Example of google maps.</p> -->
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="mapType" [fullscreenControl]='true'
            [mapTypeControl]='true' (mapClick)="changePickupMarkerLocation($event)" (mapReady)="onMapReady($event)"
            [mapTypeControlOptions]="mapTypeControlOptions">

            <agm-marker *ngFor="let location of lstMonitoringHistory;let i=index" [latitude]="location.latitude"
              [longitude]="location.longitude" [iconUrl]="'./assets/images/rtims/location.png'" [markerClickable]="true"
              (markerClick)="markerClicked(location.applicationFileMasterID)">
              <agm-info-window [isOpen]="false" [maxWidth]="620" #infoWindow>
                <div class="agm-info-content-wrapper">
                  <!-- ============= Agm Info Window Modal Tab Header =========== -->
                  <ul ngbNav #customNav="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom nav-justified">
                    <li [ngbNavItem]="1">
                      <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                        <span class="d-none d-sm-block">File Details</span>
                      </a>
                      <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="fileDetails"></ng-template>
                      </ng-template>
                    </li>

                    <li [ngbNavItem]="3">
                      <a (click)="attachmentTabLink(4)" ngbNavLink>
                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                        <span class="d-none d-sm-block">Bird Eye View</span>
                      </a>
                      <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="birdEyeView"></ng-template>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="4">
                      <a (click)="attachmentTabLink(2)" ngbNavLink>
                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                        <span class="d-none d-sm-block">Image</span>
                      </a>
                      <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="imageData"></ng-template>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="5">
                      <a (click)="attachmentTabLink(3)" ngbNavLink>
                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                        <span class="d-none d-sm-block">Video</span>
                      </a>
                      <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="videoData"></ng-template>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="6">
                      <a (click)="attachmentTabLink(1)" ngbNavLink>
                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                        <span class="d-none d-sm-block">Voice</span>
                      </a>
                      <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="voiceData"></ng-template>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                      <a (click)="attachmentTabLink(5)" ngbNavLink>
                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                        <span class="d-none d-sm-block">Others</span>
                      </a>
                      <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="fileData"></ng-template>
                      </ng-template>
                    </li>

                  </ul>
                  <!-- ============= Agm Info Window Modal Tab Header =========== -->
                  <div [ngbNavOutlet]="customNav"> </div>

                  <!-- ============= Agm Info Window Modal Tab Content =========== -->
                  <ng-template #fileDetails>
                    <div class="attachment-box p-3">
                      <h5>Application Details</h5>
                      <table class="table table-bordered application-details-table">
                        <tbody>
                          <tr>
                            <td><strong>Application File ID : </strong>{{location.applicationFileMasterID}}</td>
                            <td><strong>File/Ref No : </strong>{{location.refNo}}</td>
                          </tr>
                          <tr>
                            <td colspan="2"><strong>Applicant Name : </strong>{{location.applicantName}}</td>
                          </tr>
                          <tr>
                            <td><strong>Application Type : </strong> {{location.applicationTypeSt}}</td>
                            <td><strong> targetDate : </strong> {{location.targetDate}}</td>
                          </tr>
                          <tr>
                            <td><strong>Assign By : </strong> {{location.assignByName}}</td>
                            <td><strong> Assign Date : </strong> {{location.assignDate}}</td>

                          </tr>
                          <tr>

                            <td><strong> DPZ Name : </strong> {{location.dpzName}}</td>
                            <td><strong>Mouza Name : </strong> {{location.mouzaName}}</td>
                          </tr>
                          <tr>
                            <td><strong>Thana Name : </strong> {{location.thanaName}}</td>
                            <td><strong> Road : </strong> {{location.road}}</td>
                          </tr>
                          <tr>
                            <td><strong>Latitude : </strong> {{location.latitude}}</td>
                            <td><strong> Longitude : </strong> {{location.longitude}}</td>

                          </tr>
                          <tr>
                            <td><strong>BS No : </strong> {{location.bsNo}}</td>
                            <td><strong> RS No : </strong> {{location.rsNo}}</td>
                          </tr>
                          <tr>
                            <td><strong> updatedBy : </strong> {{location.updatedBy}}</td>
                            <td><strong>userFullName : </strong> {{location.userFullName}}</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </ng-template>

                  <ng-template #fileData>
                    <div class="p-3 attachment-box">
                      <h5>Attachment File</h5>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>SN</th>
                            <th>Attachment Name</th>
                            <th>File Format</th>
                            <th>Download Link</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of lstAttachmentSingleType; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{data.attachmentName}}</td>
                            <td>{{data.fileFormat}}</td>
                            <td><a class="btn-sm btn-primary" href="{{data.attachmentLink}}">Download File</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-template>
                  <ng-template #birdEyeView>
                    <div class="p-3 attachment-box">
                      <ul class="image-attachment-list">
                        <li *ngFor="let data of lstAttachmentSingleType" class="p-3">
                          <p><img style="max-height: 100px; border: 1px solid #ededed;" src="{{data.attachmentLink}}"
                              alt=""></p>
                          <p> {{data.attachmentName}}</p>
                        </li>
                      </ul>
                    </div>
                  </ng-template>
                  <ng-template #imageData>
                    <div class="p-3 attachment-box">
                      <ul class="image-attachment-list">
                        <li *ngFor="let data of lstAttachmentSingleType" class="p-3">
                          <p><img style="max-height: 100px; border: 1px solid #ededed;" src="{{data.attachmentLink}}"
                              alt=""></p>
                        </li>
                      </ul>
                    </div>
                  </ng-template>
                  <ng-template #videoData>
                    <div class="attachment-box video-data p-3">
                      <table class="table">
                        <tr *ngFor="let data of lstAttachmentSingleType">
                          <td><strong>Date : </strong> {{data.createdDate | date: 'dd-mm-yyyy'}}</td>
                          <td>
                            <video alt="" width="280" height="150" controls>
                              <source src="{{data.attachmentLink}}">
                            </video>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </ng-template>
                  <ng-template #voiceData>
                    <div class="attachment-box p-3">
                      <table class="table">
                        <tr *ngFor="let data of lstAttachmentSingleType">
                          <td><strong>Date : </strong> {{data.createdDate | date: 'dd-mm-yyyy'}}</td>
                          <td>
                            <audio alt="" width="200" height="100" controls>
                              <source src="{{data.attachmentLink}}">
                            </audio>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </ng-template>
                  <!-- ============= Agm Info Window Modal Tab Content =========== -->
                </div>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div> <!-- end col -->
  </div> <!-- end row -->

</div>