agm-map {
    height: 700px;
}


.inspectionStatus input {
    margin-top: 8px;
}

.list-search-info table thead tr th {
    background: #ddfff1;
    position: sticky;
    top: -1px;
    z-index: 55;
}

.custom-table-padding>tr th,
.custom-table-padding>tr td {
    padding: 5px;
    border: 1px solid #e4e4e4;
}


.h-200 {
    height: 200px;
}

.attachment-box {
    width: 650px;
    height: 300px;
    overflow-y: auto;
}

.agm-info-content-wrapper .table-bordered th,
.agm-info-content-wrapper .table-bordered td {
    color: #000;
    font-size: 14px;
}
.agm-info-content-wrapper .nav-tabs-custom .nav-item .nav-link {
    padding: 15px 5px;
}
.image-attachment-list li {
    list-style: none;
    float: left;
    padding: 5px;
}
.application-details-table tr td{
    padding: 5px 10px;
}

